html, body, div, span, input, p,h1, h2, h3, h4, h5, h6, blockquote, a, abbr, acronym, address, strong, b, u, i, center,dl, dt, dd, ol, ul,td,tr
{
    font-family:"Microsoft Yahei","微软雅黑","宋体", "Simsun", "Open Sans";
    text-shadow: 0px 0px 1px #F7F7F7;
}
h1, .h1{font-size: 25px;}
label { cursor:auto}

.dn { display:none;}

.well { padding:5px;}

.mini { font-size: 13px !important; }

.page-title{margin: 5px 0px 5px 0px;font-size: 18px;}

.table { border-top:3px solid #E4E4E4}

.gray{color:#666}

.green{color:green}

.blue{color:blue}

.integer {width:30px;}

/*分页控件样式*/
.pages { color:red;font-weight:bold; clear:both; }
.pages  .item{padding: 1px 6px;font-size: 13px;} /*数字页索引样式*/
.pages a { border: 1px solid #ddd;padding:3px 10px;color:#333;font-weight:normal; background:#eee; }
.pages a:hover { background-color: #111; color:#fff;border:1px solid #ddd; text-decoration:none;font-weight:normal;}
.pages span{ color:#000; padding:4px 10px; background-color:#ddd; margin:5px; }
/**form样式*/
.panel-body{background-color: white;}
.form-body{max-width: 900px;margin: 0 auto;padding-top: 50px;padding-bottom: 30px;}
.form-group{padding-bottom: 7px;}
.myform-group,.form-group{border-bottom: 1px solid #eeecec;}
.myform-label{width: 130px;}
.myform-label,.control-label{float: left;margin: 7px 0;padding: 7px 10px;min-height: 36px;box-sizing:border-box;font-size: 14px;border-right: 1px solid #efefef;color: #9da1c4;}
.myform-input{float: left;width: 750px;box-sizing:border-box;font-size: 14px;min-height: 50px;display: block;padding:7px 7px 0;}
.form-control{border: 1px solid #d5d5d5;}