html, body, div, span, input, p,h1, h2, h3, h4, h5, h6, blockquote, a, abbr, acronym, address, strong, b, u, i, center,dl, dt, dd, ol, ul,td,tr
{
    font-family:"Microsoft Yahei","微软雅黑","宋体", "Simsun", "Open Sans";
    text-shadow: 0px 0px 1px #F7F7F7;
}
h1, .h1{font-size: 25px;}
label { cursor:auto}

.dn { display:none;}

.well { padding:5px;}

.mini { font-size: 13px !important; }

.page-title{margin: 5px 0px 5px 0px;font-size: 18px;}

.table { border-top:3px solid #E4E4E4}

.gray{color:#666}

.green{color:green}

.blue{color:blue}

.integer {width:30px;}

/*分页控件样式*/
.pages { color:red;font-weight:bold; clear:both; }
.pages  .item{padding: 1px 6px;font-size: 13px;} /*数字页索引样式*/
.pages a { border: 1px solid #ddd;padding:3px 10px;color:#333;font-weight:normal; background:#eee; }
.pages a:hover { background-color: #111; color:#fff;border:1px solid #ddd; text-decoration:none;font-weight:normal;}
.pages span{ color:#000; padding:4px 10px; background-color:#ddd; margin:5px; }
